@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Rubik:wght@400;500;600;700&display=swap');

.step-one {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4f5665;
  text-decoration: none;
  cursor: pointer;
}

.trash_button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #df4759;
  /* box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.4); */
}

.step-two {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #6a4029;
}

.profile-image {
  padding-top: 5px;
  width: 80%;
  height: 50px;
  background: #ffba33;
  border-radius: 20px;
}
input[type='file'] {
  display: none;
}

.profile-image > label {
  padding-top: 5px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  color: #6a4029;
}

.change-profile {
  width: 80%;
  height: 50px;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: white;
  background: #0b132a;
  border-radius: 20px;
}

.delivery-hour {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  color: #6a4029;
  width: 80%;
}

.dropdown-hour {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: #9f9f9f;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  border-radius: 15px;
  width: 80%;
  height: 60px;
}

.dropdown-title {
  margin-left: 50px;
  padding-left: 50px;
}

.data-form label {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #6a4029;
}

.data-form input {
  margin-top: 10px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.3s 0.1s ease;
  text-indent: -100%;
  opacity: 1;
}

.input-product-size {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #6a4029;
}

.input-product-desc {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #9f9f9f;
  margin-top: 10px;
}

.size {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.size button {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  background: #ffba33;
  font-weight: 700;
  border: none;
}

.method {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 38px; */
  text-align: center;
  color: #000000;
}

.method button {
  width: 100%;
  height: 70px;
  margin-right: 10px;
  background: #ffba33;
  font-weight: 700;
  border: none;
}

.save-product {
  background: #6a4029;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.4);
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: none;
  width: 100%;
  height: 50px;
}

.cancel-product {
  background: #bababa;
  background: 0px 6px 10px rgba(186, 186, 186, 0.35);
  border-radius: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: #4f5665;
  border: none;
  width: 100%;
  height: 50px;
}

.input-stock-add-admin {
  width: 80%;
  height: 50px;
  padding-left: 10px;
  border-radius: 20px;
}

.default-bg-set {
  background-color: #b6b6b6;
}

.button-delete-product {
  margin-top: 20px;
  height: 50px;
  width: 15%;
  border-radius: 20px;
  border: none;
  color: white;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 428px) {
}
